<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>

    <!-- Start -->
    <div class="bookings-listings-box">
        <h3>Historique</h3>
    
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Propriétaire</th>
                        <th>Details</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let trajet of trajets;">
                        <td class="name">
                            <img src="assets/img/user1.jpg" alt="image" *ngIf="!trajet.car.owner.photoProfile">
                            <img src="{{service.host}}/download/{{trajet.car.owner.photoProfile.id}}"
                                alt="image" *ngIf="trajet.car.owner.photoProfile">
                            <div class="info">
                                <span>{{trajet.car.owner.nom}}</span>
                                <ul>
                                    <li><a href="tel:{{trajet.car.owner.tel}}">{{trajet.car.owner.tel}}</a></li>
                                    <li><a href="mailto:{{trajet.car.owner.email}}">{{trajet.car.owner.email}}</a></li>
                                </ul>
                                <a href="mailto:{{trajet.car.owner.email}}" class="default-btn"><i class='bx bx-envelope'></i> Envoyer Message</a>
                            </div>
                        </td>

                        <td class="details">
                            <ul>
                                <li *ngFor="let Info of trajet.infos">
                                    <i class='{{Info.icon}}'></i> 
                                    <span>{{Info.title}}:</span>
                                    {{Info.text}}
                                </li>
                            </ul>
                        </td>

                        <td class="action">
                            <a class="default-btn"><i class='bx bx-check-circle'></i> {{trajet.status}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- End -->

    <div class="flex-grow-1"></div>
    
    <app-footer-style-two></app-footer-style-two>
</div>
<!-- End Main Content Wrapper Area -->