<!-- Start Coming Soon Area -->
<div class="coming-soon-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="coming-soon-content">
                <div class="alert alert-warning" *ngIf="confirmMdp!=mdp">Veuillez verifier la confirmation du mot de passe</div>
                <div class="alert alert-danger" *ngIf="(mdp+'').length<8">Mot de passe doit être au moins 8 caracteres</div>
                <a routerLink="/" class="logo">
                    <img src="assets/img/logo-removebg-preview (1).png" style="height: 100px;" alt="image">
                </a>
                <app-loading *ngIf="showSpinner"></app-loading>
                <form class="newsletter-form" *ngIf="!showSpinner">
                    <div class="form-group">
                        <input type="password" class="input-newsletter" placeholder="Enter your new password" [(ngModel)]="mdp"
                            name="mdp" required autocomplete="off">
                        <span class="label-title"><i class='bx bxs-key'></i></span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-newsletter" placeholder="Confirm your new password" [(ngModel)]="confirmMdp"
                            name="confirmMdp" required autocomplete="off">
                        <span class="label-title"><i class='bx bxs-key'></i></span>
                    </div>
                    <button type="submit" class="default-btn" (click)="change()">Change password</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Coming Soon Area -->