<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>

    <!-- Breadcrumb Area -->
    <!-- <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div> -->
    <!-- End Breadcrumb Area -->
    <app-loading *ngIf="showSpinner"></app-loading>
    <!-- Start -->
    <div class="row" *ngIf="!showSpinner">
        <div class="col-lg-6 col-md-12">
            <div *ngIf="showModificaionAlert&&!error" class="alert alert-warning" role="alert">Certaines des
                informations
                saisies ne sont pas valides</div>
            <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
            <div *ngIf="badRequest" class="alert alert-danger" role="alert">Email Existe deja</div>
            <div *ngIf="successModify" class="alert alert-success" role="alert">Bien modifier</div>
            <div class="my-profile-box">
                <h3>Profile Details</h3>
                <form #f="ngForm" (ngSubmit)="modifyLogged(f.value)">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group profile-box">
                                <img *ngIf="profilePic" src="{{profilePic}}" alt="image">
                                <div class="file-upload">
                                    <input type="file" name="file" id="file" class="inputfile"
                                        accept="image/png, image/jpg, image/jpeg" (change)="onFileChanged($event)" />
                                    <label for="file"><i class='bx bx-upload'></i> Upload Photo</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" class="form-control" [(ngModel)]="profile.nom" name="nom">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email" [(ngModel)]="profile.email">
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" name="tel" [(ngModel)]="profile.tel">
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" [(ngModel)]="profile.adresse" name="adresse">
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Date de naissance</label>
                                <input type="date" class="form-control" [(ngModel)]="profile.date_naissance"
                                    name="date_naissance">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="add-listings-box">
                                <div class="row">
                                    <h3 class="col-6">Liste de voitures</h3>
                                    <a (click)="newCar()" class="btn btn-outline-primary col-6 h-50 m-auto"
                                        data-bs-toggle="modal" data-bs-target="#addCar"
                                        onclick="$('#addCar').appendTo('body').modal('show');">Ajouter voiture</a>
                                </div>
                                <app-loading *ngIf="showCarsSpinner"></app-loading>
                                <table class="table" *ngIf="cars">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Matricule</th>
                                            <th scope="col">Consulter</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let car of cars;let i = index" [attr.data-index]="i">
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{car.mat}}</td>
                                            <td><a (click)="getCar(car.mat)" class="btn btn-outline-primary"
                                                    data-bs-toggle="modal" data-bs-target="#editCar"
                                                    onclick="$('#editCar').appendTo('body').modal('show');">Consulter</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <button type="submit">Save Change</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="my-profile-box">
                <h3>Change Password</h3>
                <form>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div *ngIf="newpass!==confirmpass" class="alert alert-warning" role="alert">Veuillez
                                verifier les infos entrer</div>
                                <div class="alert alert-danger" *ngIf="(oldpass+'').length<8">Mot de passe doit être au moins 8 caracteres</div>
                            <div *ngIf="confiramtion==1" class="alert alert-success" role="alert">Mot de passe changer
                                avec success</div>
                            <div *ngIf="confiramtion==2" class="alert alert-danger" role="alert">Something went wrong
                            </div>
                            <div class="form-group">
                                <label>Current Password</label>
                                <input type="password" class="form-control" [(ngModel)]="oldpass" name="oldPassword">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" [(ngModel)]="newpass" name="newPassword">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Confirmer New Password</label>
                                <input type="password" class="form-control" [(ngModel)]="confirmpass"
                                    name="newPassword">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <button type="submit" (click)="changePassword()">Change Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End -->

    <div class="flex-grow-1"></div>

    <app-footer-style-two></app-footer-style-two>

</div>
<!-- End Main Content Wrapper Area -->

<!-- Start edit Modal -->

<div class="modal fade loginRegisterModal" id="editCar" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <app-loading *ngIf="showCarSpinner"></app-loading>
            <div *ngIf="showError" class="alert alert-danger">{{errorText}}</div>
            <div *ngIf="showSuccess" class="alert alert-success">{{successText}}</div>
            <div class="tab-content" id="myTabContent" *ngIf="!showCarSpinner">
                <div class="tab-pane fade show active" id="login" role="tabpanel">
                    <button class="close" type="button" id="close" data-bs-dismiss="modal" aria-label="Close"><i
                            class='bx bx-x'></i></button>
                    <div class="vesax-login">
                        <form #f="ngForm" (ngSubmit)="modifyCar(car.mat)" ngNativeValidate>
                            <div class="form-group" *ngIf="isNewCar">
                                <label>Matricule :</label>
                                <input type="text" class="form-control" [(ngModel)]="car.mat" name="mat" required>
                            </div>
                            <div class="form-group">
                                <label>Année :</label>
                                <input type="number" min="1970" max="2022" class="form-control" [(ngModel)]="car.annee"
                                    name="annee" required>
                            </div>
                            <div class="form-group">
                                <label>Categorie :</label>
                                <select [(ngModel)]="car.cat" name="cat" class="form-control" required>
                                    <option value="SEDAN">Sedan</option>
                                    <option value="SUV">SUV</option>
                                    <option value="Minivan">Minivan</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Color : </label>
                                <input type="color" class="form-control" [(ngModel)]="car.color" name="color" required>
                            </div>
                            <div class="form-group">
                                <label>Places : </label>
                                <input type="number" min="2" max="10" class="form-control" [(ngModel)]="car.nbrePlace"
                                    name="nbrePlace" required>
                            </div>
                            <div class="modal-footer">
                                <button type="submit">Confirmer modifications</button>
                                <button type="button" style="background-color: red;" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal" onclick="$('#deleteModal').appendTo('body').modal('show');">Supprimer voiture</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- End edit Modal -->

<!-- start add Modal -->

<div class="modal fade loginRegisterModal" id="addCar" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <app-loading *ngIf="showCarSpinner"></app-loading>
            <div *ngIf="showError" class="alert alert-danger">{{errorText}}</div>
            <div *ngIf="showSuccess" class="alert alert-success">{{successText}}</div>
            <div class="tab-content" id="myTabContent" *ngIf="!showCarSpinner">
                <div class="tab-pane fade show active" id="login" role="tabpanel">
                    <button class="close" type="button" id="close" data-bs-dismiss="modal" aria-label="Close"><i
                            class='bx bx-x'></i></button>
                    <div class="vesax-login">
                        <form ngNativeValidate #f="ngForm" (ngSubmit)="addCar()">
                            <div class="form-group" *ngIf="isNewCar">
                                <label>Matricule :</label>
                                <input type="text" class="form-control" [(ngModel)]="car.mat" name="mat" required>
                            </div>
                            <div class="form-group">
                                <label>Année :</label>
                                <input type="number" min="1970" max="2022" class="form-control" [(ngModel)]="car.annee"
                                    name="annee" required>
                            </div>
                            <div class="form-group">
                                <label>Categorie :</label>
                                <select [(ngModel)]="car.cat" name="cat" class="form-control" required>
                                    <option value="SEDAN">Sedan</option>
                                    <option value="SUV">SUV</option>
                                    <option value="Minivan">Minivan</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Color : </label>
                                <input type="color" class="form-control" [(ngModel)]="car.color" name="color" required>
                            </div>
                            <div class="form-group">
                                <label>Places : </label>
                                <input type="number" min="2" max="10" class="form-control" [(ngModel)]="car.nbrePlace"
                                    name="nbrePlace" required>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" style="background-color: green;">Ajouter voiture</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End add Modal -->

<!-- Strat Sup Modal -->
<div class="modal fade loginRegisterModal" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="tab-content" id="myTabContent" style="margin-top: 5px;">
                <div class="tab-pane fade show active" id="login" role="tabpanel">
                    <button type="button" id="close" data-bs-dismiss="modal" aria-label="Close" class="close"><i
                            class='bx bx-x'></i></button>
                    <div class="vesax-login">
                        <h3>Voullez vous supprimer cette voiture ?</h3>
                        <div class="row justify-content-end">
                            <div class="col-4">
                                <button class="btn btn-danger" data-bs-dismiss="modal"
                                    aria-label="Close">Annuler</button>
                            </div>
                            <div class="col-7">
                                <button class="btn btn-success" (click)="deleteCar(car.mat)">Confirmer la suppression</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>