<!-- Start Footer Area -->
<footer class="footer-area bg-f5f5f5">
    <div class="container">
        <div class="copyright-area">
            <p>Copyright @2022 <span>Easy Ride</span></p>
        </div>
    </div>

    <div class="footer-image text-center">
        <img src="assets/img/footer-image.png" alt="image">
    </div>
</footer>
<!-- End Footer Area -->

<div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>