@import "../home-demo-one/homeone-listings/homeone-listings.component.scss";
@import '../dashboard/dashboard.component.scss';
.author-sidebar {
    .user-profile {
        img {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            box-shadow: 0 9px 26px rgba(58, 87, 135, .2);
            border: 5px solid var(--whiteColor);
        }
        .title {
            margin-left: 20px;

            h4 {
                font-size: 22px;
                margin-bottom: 7px;
            }
            .sub-title {
                display: block;
                color: var(--mainColor);
                font: {
                    weight: 500;
                };
            }
            .rating {
                margin-top: 7px;
    
                .bx {
                    color: #cecfd2;
                    font-size: 16px;
                    margin-right: 2px;
    
                    &.checked {
                        color: #efc02f;
                    }
                }
                .rating-count {
                    position: relative;
                    top: 1px;
                    font: {
                        size: 16px;
                        weight: 500;
                    };
                }
            }
        }
    }
    .user-contact-info {
        margin-top: 35px;
        background-color: #f9f9f9;
        border-radius: 3px;
        padding: 25px;

        h3 {
            font-size: 20px;
            margin-bottom: 25px;
            border-bottom: 1px solid #e8e8e8;
            padding-bottom: 10px;
        }
        .user-contact {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                margin-bottom: 9px;
                font-weight: 500;

                a {
                    display: inline-block;
                    position: relative;
                    color: var(--optionalColor);
                    padding-left: 25px;

                    i {
                        position: absolute;
                        left: 0;
                        top: 2px;
                        color: var(--mainColor);
                        font-size: 18px;
                    }
                    &:hover {
                        color: var(--mainColor);
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .social-profiles {
            padding-left: 0;
            list-style-type: none;
            margin: {
                top: 20px;
                bottom: 0;
            };
            li {
                margin-bottom: 9px;
                font-weight: 500;

                a {
                    display: inline-block;
                    position: relative;
                    color: var(--optionalColor);
                    padding-left: 25px;

                    i {
                        position: absolute;
                        left: 0;
                        top: 2px;
                        font-size: 18px;
                    }
                    &.facebook {
                        color: #3b5998;
                    }
                    &.twitter {
                        color: #1da1f2;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        form {
            margin-top: 25px;

            .form-control {
                background-color: var(--whiteColor) !important;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12) !important;
            }
        }
    }
}
.author-all-listings {
    h2 {
        font-size: 22px;
        margin-bottom: 30px;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .author-sidebar {
        margin-bottom: 40px;

        .user-profile {
            img {
                border-width: 3px;
            }
            .title {
                margin-left: 15px;

                h4 {
                    font-size: 17px;
                }
                .rating {
                    .bx {
                        font-size: 14px;
                    }
                    .rating-count {
                        font-size: 14px;
                    }
                }
            }
        }
        .user-contact-info {
            margin-top: 30px;
            padding: 20px;

            h3 {
                font-size: 17px;
            }
        }
    }
    .author-all-listings {
        h2 {
            text-align: center;
        }
    }

}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {



}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .author-all-listings {
        margin-top: 40px;

        h2 {
            text-align: center;
        }
    }

}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {



}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {



}
/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    

}