<!-- Start Navbar Area -->
<div class="navbar-area navbar-style-two">
    <div class="vesax-responsive-nav">
        <div class="container">
            <div class="vesax-responsive-menu">
                <div class="logo">
                    <a routerLink="/"><img src="assets/img/logo-removebg-preview (1).png" style="height: 80px;" alt="logo"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="vesax-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/"><img src="assets/img/logo-removebg-preview (1).png"
                        alt="logo" style="height: 80px;"></a>

                <div class="collapse navbar-collapse">

                    <ul class="navbar-nav">
                        <!-- <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Home</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Demo - 1</a></li>

                                <li class="nav-item"><a routerLink="/index-2" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Demo - 2</a></li>
                            </ul>
                        </li> -->

                        <li class="nav-item">
                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">List Layout <i class='bx bx-chevron-right'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a routerLink="/vertical-listings-left-sidebar" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Left Sidebar</a></li>

                                        <li class="nav-item"><a routerLink="/vertical-listings-right-sidebar" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Right Sidebar</a></li>
                                        
                                        <li class="nav-item"><a routerLink="/vertical-listings-full-width" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Full Width</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Grid Layout <i class='bx bx-chevron-right'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a routerLink="/grid-listings-left-sidebar" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Left Sidebar</a></li>

                                        <li class="nav-item"><a routerLink="/grid-listings-right-sidebar" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Right Sidebar</a></li>
                                        
                                        <li class="nav-item"><a routerLink="/grid-listings-full-width" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Full Width</a></li>
                                    </ul>
                                </li>
                                
                                <li class="nav-item"><a routerLink="/single-listings" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Listings Details</a></li>
                                
                                <li class="nav-item"><a routerLink="/destinations" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Top Place</a></li>

                                <li class="nav-item"><a routerLink="/categories" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Categories</a></li>

                                <li class="nav-item"><a routerLink="/user-profile" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Author Profile</a></li>
                            </ul> -->
                        </li>

                        <li class="nav-item">
                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/dashboard" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Dashboard</a></li>

                                <li class="nav-item"><a routerLink="/dashboard-bookings" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Bookings</a></li>
                               
                                <li class="nav-item"><a routerLink="/dashboard-my-listings" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">My Listings</a></li>

                                <li class="nav-item"><a routerLink="/dashboard-add-listings" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Add Listings</a></li>

                                <li class="nav-item"><a routerLink="/dashboard-my-profile" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">My Profile</a></li>

                            </ul> -->
                        </li>

                        <li class="nav-item">
                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">About Us</a></li>

                                <li class="nav-item"><a routerLink="/how-it-works" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">How It Work</a></li>
                              
                                <li class="nav-item"><a routerLink="/faq" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">FAQ</a></li>

                                <li class="nav-item"><a routerLink="/error" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">404 Error Page</a></li>

                                <li class="nav-item"><a routerLink="/coming-soon" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Coming Soon</a></li>

                                <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contact</a></li>
                            </ul> -->
                        </li>
                    </ul>
                    <div class="others-option d-flex align-items-center">
                        <div class="option-item">
                            <span data-bs-toggle="modal" data-bs-target="#loginRegisterModal" onclick="$('#loginRegisterModal').appendTo('body').modal('show');"><i
                                    class="flaticon-user"></i> Se connecter / S'inscrire</span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="option-inner">
                    <div class="others-option">
                        <div class="option-item">
                        </div>

                        <div class="option-item">
                            <span data-bs-toggle="modal" data-bs-target="#loginRegisterModal" onclick="$('#loginRegisterModal').appendTo('body').modal('show');"><i
                                    class="flaticon-user"></i> Se connecter / S'inscrire</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar Area -->

<!-- Start Login & Register Modal -->
<div class="modal fade loginRegisterModal" id="loginRegisterModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" id="close" class="close" data-bs-dismiss="modal" aria-label="Close"><i
                    class='bx bx-x'></i></button>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login"
                        type="button" role="tab" aria-controls="login" aria-selected="true">Se connecter</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register"
                        type="button" role="tab" aria-controls="register" aria-selected="true">S'inscrire</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel">
                    <app-loading *ngIf="showSpinner"></app-loading>
                    <div class="vesax-login" *ngIf="!showSpinner">
                        <div *ngIf="showAlert" class="alert alert-danger" role="alert">Veuillez verifier les infos
                            entrer</div>
                        <span class="sub-title" (click)="showAlert=false"><span>Se connecter</span></span>
                        <form>
                            <div class="form-group">
                                <input type="text" placeholder="Username or Email" class="form-control"
                                    (change)='username=$event.target.value' [value]="username">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control"
                                    (change)='password=$event.target.value' [value]="password">
                            </div>
                            <button type="submit" (click)="Authenticate()">Se connecter</button>
                            <a routerLink="/passwordForgettenVerification">Mot de passe oublié ?</a>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade " id="register" role="tabpanel">
                    <app-loading *ngIf="showSpinner"></app-loading>
                    <div class="vesax-register" *ngIf="!showSpinner">
                        <span class="sub-title" (click)="showAlert=false"><span>S'inscrire</span></span>
                        <div *ngIf="registration.password!==confirmpass" class="alert alert-warning" role="alert">
                            Veuillez vérifier les mots de passe saisis</div>
                            <div class="alert alert-danger" *ngIf="(registration.password+'').length<8">Mot de passe doit être au moins 8 caracteres</div>
                        <div *ngIf="showAlert" class="alert alert-warning" role="alert">Certaines des informations
                            saisies ne sont pas valides</div>
                        <div *ngIf="badRequest" class="alert alert-warning" role="alert">Email Existe deja</div>
                        <form>
                            <div class="form-group">
                                <input type="text" placeholder="Nom Complet" class="form-control"
                                    [(ngModel)]="registration.nom" name="name">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Tel" class="form-control" [(ngModel)]="registration.tel"
                                    name="tel">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Adresse" class="form-control"
                                    [(ngModel)]="registration.adresse" name="adresse">
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Email" class="form-control"
                                    [(ngModel)]="registration.email" name="email">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control"
                                    [(ngModel)]="registration.password" name="password">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Confirm Password" class="form-control"
                                    [(ngModel)]="confirmpass" name="newPassword">
                            </div>
                            <button type="submit" (click)="register()">S'inscrire</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Login & Register Modal -->