<!-- Start Coming Soon Area -->
<div class="coming-soon-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="coming-soon-content">
                <div class="alert alert-warning" *ngIf="showErrorEmail&&!showSpinner">{{textErrorEmail}}</div>
                <div class="alert alert-warning" *ngIf="showErrorCode&&!showSpinner">{{textErrorCode}}</div>
                <div class="alert alert-success" *ngIf="showCode&&!showSpinner">E-mail envoyé avec succès</div>
                <a routerLink="/" class="logo">
                    <img src="assets/img/logo-removebg-preview (1).png" style="height: 100px;" alt="image">
                </a>
                <app-loading *ngIf="showSpinner"></app-loading>
                <form class="newsletter-form" *ngIf="!showSpinner">
                    <div class="form-group">
                        <input type="email" *ngIf="!showCode" class="input-newsletter" placeholder="Enter your email"
                            [(ngModel)]="email" name="email" required autocomplete="off">
                        <input type="email" *ngIf="showCode" class="input-newsletter" placeholder="Enter your email"
                            [(ngModel)]="email" name="email" required autocomplete="off" readonly>
                        <span class="label-title"><i class='bx bx-envelope'></i></span>
                    </div>
                    <div class="form-group" *ngIf="showCode">
                        <input type="number" class="input-newsletter" placeholder="Enter your code" [(ngModel)]="code"
                            name="code" required autocomplete="off">
                        <span class="label-title"><i class='bx bxs-key'></i></span>
                    </div>
                    <button type="submit" *ngIf="!showCode" class="default-btn" (click)="emailSent()">Send Confirmation
                        Email</button>
                    <button type="submit" *ngIf="showCode" class="default-btn" (click)="verifyCode()">Verifier Code</button>
                    <p>Si vous n'avez pas reçu d'e-mail, vérifiez l'adresse e-mail et cliquez sur <a
                            (click)="emailSent()">Renvoyer</a> </p>
                </form>
                <style>
                    a:hover{
                        cursor: pointer;
                        color: #2DCDCD;
                    }
                </style>
            </div>
        </div>
    </div>
</div>
<!-- End Coming Soon Area -->