@import "../home-demo-one/homeone-listings/homeone-listings.component.scss";
@import '../dashboard/dashboard.component.scss';
@import '../dashboard/dashboard-bookings/dashboard-bookings.component.scss';
.listings-details-image {
    position: relative;

    .container {
        position: relative;

        .container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: auto;
            z-index: 2;
        }
    }
    .listings-details-content {
        color: var(--whiteColor);
        padding-bottom: 35px;

        .meta {
            display: inline-block;
            text-transform: uppercase;
            color: var(--mainColor);
            font-weight: 600;
            font-size: 14px;
            
            i {
                font-weight: normal;
                color: var(--mainColor);
                margin-right: 3px;
                width: 28px;
                height: 28px;
                text-align: center;
                display: inline-block;
                font-size: var(--fontSize);
                line-height: 28px;
                background-color: #e8e8e8;
                border-radius: 50%;
                transition: var(--transition);
            }
        }
        h3 {
            color: var(--whiteColor);
            font: {
                size: 35px;
                weight: 800;
            };
            margin: {
                top: 15px;
                bottom: 14px;
            };
        }
        .rating {
            margin-bottom: 5px;

            .bx {
                color: #cecfd2;
                font-size: var(--fontSize);
                margin-right: 2px;

                &.checked {
                    color: #efc02f;
                }
            }
            .rating-count {
                position: relative;
                color: var(--mainColor);
                top: 1px;
                font: {
                    size: var(--fontSize);
                    weight: 600;
                };
            }
        }
        ul {
            padding-left: 0;
            list-style-type: none;
            margin: {
                bottom: 0;
                top: 25px;
            };
            li {
                display: inline-block;
                margin-right: 25px;

                &:last-child {
                    margin-right: 0;
                }
                &.phone-number {
                    a {
                        background-color: var(--mainColor);
                        border-radius: 30px;
                        color: var(--whiteColor);
                        position: relative;
                        display: block;
                        padding: {
                            left: 60px;
                            right: 25px;
                            top: 12px;
                            bottom: 12px;
                        };
                        font: {
                            size: 18px;
                            weight: 700;
                        };
                        i {
                            position: absolute;
                            left: 25px;
                            top: 50%;
                            margin-top: 1px;
                            transform: translateY(-50%);
                            font-size: 25px;
                        }
                    }
                }
                &.time {
                    position: relative;
                    color: var(--mainColor);
                    padding-left: 58px;

                    span {
                        display: block;
                        color: var(--whiteColor);
                        margin-bottom: 3px;
                        font: {
                            size: 17px;
                            weight: 700;
                        };
                    }
                    i {
                        position: absolute;
                        left: 0;
                        top: 0;
                        color: #a2a1a1;
                        font-size: 48px;
                    }
                }
                &.location {
                    position: relative;
                    color: var(--mainColor);
                    padding-left: 55px;

                    span {
                        display: block;
                        color: var(--whiteColor);
                        margin-bottom: 3px;
                        font: {
                            size: 17px;
                            weight: 700;
                        };
                    }
                    i {
                        position: absolute;
                        left: 0;
                        top: 0;
                        color: #a2a1a1;
                        font-size: 48px;
                    }
                }
            }
        }
    }
    .container-fluid {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        height: auto;
        text-align: right;
        padding: {
            left: 100px;
            right: 100px;
            top: 30px;
        };
        .share-save {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                display: inline-block;
                position: relative;
                margin-left: 5px;

                a, .share {
                    background-color: rgba(0, 0, 0, .77);
                    color: var(--whiteColor);
                    position: relative;
                    font-size: var(--fontSize);
                    display: block;
                    cursor: pointer;
                    padding: 6px 15px 6px 38px;
                    transition: var(--transition);

                    i {
                        position: absolute;
                        left: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &:hover {
                        background-color: var(--whiteColor);
                        color: var(--blackColor);
                    }
                }
                .social {
                    position: absolute;
                    background-color: var(--whiteColor);
                    right: 0;
                    top: 40px;
                    text-align: center;
                    width: 150px;
                    opacity: 0;
                    visibility: hidden;
                    transition: var(--transition);
                    
                    a {
                        background-color: var(--whiteColor);
                        color: var(--mainColor);
                        display: inline-block;
                        padding: 7px 0 5px;
                        font-size: 18px;
                        margin: {
                            left: 3px;
                            right: 3px;
                        };
                        i {
                            position: relative;
                            top: 0;
                            left: 0;
                            transform: translateY(0);
                        }
                        &:hover {
                            color: var(--blackColor);
                        }
                    }
                    &.active {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}
.listings-details-nav {
    background-color: #f5f5f5;
    position: sticky;
    
    .container-fluid {
        padding: {
            left: 0;
            right: 0;
        };
    }
    &.is-sticky {
        position: fixed;
        top: 84px;
        left: 0;
        width: 100%;
        z-index: 999;
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    }
    .nav-tabs {
        margin-bottom: 0;
        border: none;

        .nav-item {
            margin-bottom: 0;

            .nav-link {
                border: none;
                background-color: transparent;
                padding: 0;
                border-radius: 0;
                margin-right: 25px;
                position: relative;
                transition: var(--transition);
                color: #666666;
                font: {
                    size: 16px;
                    weight: 600;
                };
                padding: {
                    top: 27px;
                    bottom: 20px;
                };
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                    background-color: var(--mainColor);
                    transition: var(--transition);
                    transform: scaleX(0);
                }
                &.active, &:hover {
                    color: var(--blackColor);

                    &::before {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}
.listings-details-desc {
    margin-top: 60px;

    h3 {
        font-size: 22px;
        margin: {
            top: 30px;
            bottom: 20px;
        };
        &:first-child {
            margin-top: 0;
        }
    }
    p {
        margin: {
            top: -5px;
            bottom: 18px;
        };
        &:last-child {
            margin-bottom: 0;
        }
    }
    .amenities-list {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        margin: {
            bottom: 35px;
            left: -10px;
            right: -10px;
            top: -20px;
        };
        li {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            padding: {
                left: 10px;
                right: 10px;
                top: 25px;
            };
            span {
                display: block;
                color: var(--optionalColor);
                position: relative;
                padding-left: 38px;
                font: {
                    size: var(--fontSize);
                    weight: 600;
                };
                i {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    border-radius: 50%;
                    line-height: 30px;
                    color: var(--blackColor);
                    background-color: #f5f5f5;
                    text-align: center;
                    font-size: 25px;
                    position: absolute;
                    left: 0;
                    top: -5px;
                    transition: var(--transition);
                }
                &:hover {
                    i {
                        background-color: var(--mainColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }
    }
    .pricing-list {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 40px;

        li {
            margin-bottom: 15px;
            color: var(--optionalColor);
            position: relative;
            background-color: #f5f5f5;
            box-shadow: 5px 5px #dedede;
            transition: var(--transition);
            font: {
                size: 16px;
                weight: 600;
            };
            padding: {
                left: 25px;
                right: 25px;
                top: 15px;
                bottom: 15px;
            };
            span {
                position: absolute;
                right: 25px;
                top: 50%;
                transform: translateY(-50%);
                color: var(--blackColor);
            }
            &:last-child {
                margin-bottom: 5px;
            }
            &:hover {
                box-shadow: 5px 5px var(--mainColor);
            }
        }
    }
    .single-listings-box {
        margin-top: 5px;

        h3 {
            margin-top: 0;
        }
    }
    .listings-review {
        background-color: #f5f5f5;
        box-shadow: 5px 5px #dedede;
        padding: 30px;

        .rating {
            margin-bottom: 5px;

            .bx {
                color: #cecfd2;
                font-size: 20px;
                margin-right: 2px;

                &.checked {
                    color: #efc02f;
                }
            }
            .overall-rating {
                position: relative;
                top: 1px;
                margin: {
                    left: 5px;
                    right: 5px;
                };
                font: {
                    size: 20px;
                    weight: 600;
                };
            }
            .rating-count {
                position: relative;
                color: var(--mainColor);
                top: 1px;
                font: {
                    size: 20px;
                    weight: 600;
                };
            }
        }
        .row {
            .row {
                overflow: hidden;
            }
        }
        .side {
            float: left;
            width: 35%;
            margin-top: 12px;
            font-size: 14px;

            div {
                font-weight: 600;
            }
        }
        .middle {
            margin-top: 20px;
            float: left;
            width: 55%;
        }
        .right {
            text-align: right;
            width: 10%;
        }
        .bar-container {
            width: 100%;
            background-color: #a6a6a6;
            text-align: center;
            color: var(--whiteColor);
        }
        .bar-5 {
            width: 100%;
            height: 4px;
            background-color: var(--blackColor);
        }
        .bar-4 {
            width: 75%;
            height: 4px;
            background-color: var(--blackColor);
        }
        .bar-3 {
            width: 50%;
            height: 4px;
            background-color: var(--blackColor);
        }
        .bar-2 {
            width: 25%;
            height: 4px;
            background-color: var(--blackColor);
        }
        .bar-1 {
            width: 0;
            height: 4px;
            background-color: var(--blackColor);
        }
    }
    .write-a-review {
        background-color: #f5f5f5;
        box-shadow: 5px 5px #dedede;
        padding: 30px 230px 30px 30px;
        position: relative;
        margin-top: 30px;

        h4 {
            margin-bottom: 10px;
            font: {
                size: 17px;
                weight: 600;
            };
        }
        p {
            font-size: 14.5px;
            margin: 0;
        }
        .default-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;
            background-color: var(--mainColor);
            color: var(--whiteColor);
            border-color: var(--mainColor);

            &:hover {
                box-shadow: 5px 5px var(--blackColor);
            }
        }
    }
    .listings-review-comments {
        margin: {
            top: 30px;
            bottom: 35px;
        };
        .user-review {
            border: 1px solid #dedede;
            padding: 30px;
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
            .user {
                img {
                    width: 60px;
                    border-radius: 3px;
                }
                .title {
                    margin-left: 15px;

                    h4 {
                        margin-bottom: 4px;
                        font: {
                            size: 16.5px;
                            weight: 600;
                        };
                    }
                    span {
                        display: block;
                        font-size: 14.5px;
                        color: var(--optionalColor);
                    }
                }
            }
            .comments {
                .rating {
                    margin-bottom: 15px;
        
                    .bx {
                        color: #cecfd2;
                        font-size: 17px;
        
                        &.checked {
                            color: #efc02f;
                        }
                    }
                }
                p {
                    margin-bottom: 15px;
                }
                a {
                    display: inline-block;
                    color: var(--optionalColor);
                    font-weight: 600;

                    &:hover {
                        color: var(--mainColor);
                    }
                }
                .like-unlike {
                    padding-left: 0;
                    margin-bottom: 0;
                    list-style-type: none;

                    li {
                        margin-right: 20px;
                        display: inline-block;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .review-form-wrapper {
        background-color: #f5f5f5;
        box-shadow: 5px 5px #dedede;
        padding: 30px;
        margin-bottom: 35px;

        h3 {
            margin-bottom: 12px;
        }
        .comment-notes {
            span {
                color: red;
            }
        }
        form {
            margin-top: 20px;

            .form-group {
                margin-bottom: 25px;
                text-align: left;
            }
            .add-sub-rating {
                margin-bottom: 10px;
            }
            .sub-ratings {
                border-bottom: 1px solid #e3e3e3;
                padding-bottom: 5px;
                margin-bottom: 25px;

                h4 {
                    margin-bottom: 12px;
                    font: {
                        size: 16px;
                        weight: 600;
                    };
                }
                .cleanliness-rating, .accuracy-rating, .location-rating, .value-rating, .communication-rating, .checkin-rating {
                    text-align: left;
                    overflow: hidden;
                    max-width: 115px;
                    margin-top: -5px;
                    
                    label {
                        float: right;
                        position: relative;
                        width: 23px;
                        height: 23px;
                        cursor: pointer;
    
                        &:not(:first-of-type) {
                            padding-right: 5px;
                        }
                        &:before {
                            content: "\2605";
                            transition: var(--transition);
                            font-size: 25px;
                            color: #CCCCCC;
                            line-height: 1;
                        }
                    }
                    input {
                        display: none;
                    }
                    input:checked ~ label:before, &:not(:checked) > label:hover:before, &:not(:checked) > label:hover ~ label:before {
                        color: #f6b500;
                    }
                }
            }
            .comment-form-cookies-consent {
                text-align: left;
                margin: {
                    bottom: 0;
                    top: 3px;
                };
                [type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
                    display: none;
                }
                [type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label {
                    position: relative;
                    padding-left: 28px;
                    cursor: pointer;
                    line-height: 20px;
                    display: inline-block;
                    margin-bottom: 0;
                    color: var(--optionalColor);
                    font-weight: 500;
                }
                [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 19px;
                    height: 19px;
                    transition: all 0.2s ease;
                    border: 1px solid var(--mainColor);
                    border-radius: 3px;
                    background: #f5f5f5;
                }
                [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after {
                    content: '';
                    width: 8px;
                    height: 8px;
                    background: var(--mainColor);
                    position: absolute;
                    top: 5.5px;
                    left: 6px;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                [type="checkbox"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                [type="checkbox"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
                [type="checkbox"]:hover + label:before {
                    border-color: var(--mainColor);
                }
                [type="checkbox"]:checked + label:before {
                    border-color: var(--mainColor);
                }
            }
            button {
                margin-top: 25px;
                border: none;
                border-radius: 30px;
                display: inline-block;
                text-align: center;
                overflow: hidden;
                color: var(--whiteColor);
                background-color: var(--mainColor);
                transition: var(--transition);
                padding: 12px 50px;
                font: {
                    weight: 600;
                    size: var(--fontSize);
                };
                &:hover {
                    background-color: var(--mainColor2);
                    color: var(--whiteColor);
                }
            }
            .form-control {
                background-color: var(--whiteColor) !important;
                box-shadow: 0 1px 4px rgba(0,0,0,0.12) !important;
            }
        }
    }
}
.listings-sidebar {
    margin-top: 60px;

    .listings-widget {
        margin-bottom: 30px;
        background-color: #fbfbfb;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 30px;

        &:last-child {
            margin-bottom: 0;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 25px;
        }
    }
    .book_listings {
        .default-btn {
            display: block;
            background-color: var(--mainColor);
            color: var(--whiteColor);
            border-color: var(--mainColor);

            &:hover {
                box-shadow: 5px 5px var(--blackColor);
            }
        }
        span {
            display: block;
            color: var(--optionalColor);
            margin-top: 15px;

            a {
                color: var(--optionalColor);

                &:hover {
                    color: var(--mainColor);
                }
            }
        }
    }
    .listings_contact_details {
        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                position: relative;
                border-top: 1px solid #e3e3e3;
                color: var(--optionalColor);
                padding: {
                    top: 14px;
                    bottom: 14px;
                    left: 25px;
                };
                a {
                    display: inline-block;
                    color: var(--optionalColor);

                    &:hover {
                        color: var(--mainColor);
                    }
                }
                i {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-top: 1px;
                    font-size: 20px;
                    color: var(--blackColor);

                    &.bx-map {
                        margin-top: 7px;
                    }
                }
                &:nth-child(1), &:nth-child(3) {
                    color: var(--mainColor);

                    a {
                        color: var(--mainColor);

                        &:hover {
                            color: var(--blackColor);
                        }
                    }
                }
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
    .listings_author {
        .author {
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .title {
                margin-left: 15px;

                h4 {
                    margin-bottom: 4px;
                    font: {
                        size: 16.5px;
                        weight: 600;
                    };
                }
                span {
                    display: block;
                    font-size: 14.5px;
                    color: var(--optionalColor);
                }
            }
            .author-profile {
                border-top: 1px solid #e3e3e3;
                padding-top: 20px;
                margin-top: 20px;

                .view-profile {
                    display: inline-block;
                    color: var(--mainColor);
                    font-weight: 600;

                    &:hover {
                        color: var(--blackColor);
                    }
                }
                .social {
                    padding-left: 0;
                    margin-bottom: 0;
                    list-style-type: none;
                    text-align: right;

                    li {
                        display: inline-block;
                        margin-left: 5px;

                        a {
                            display: block;
                            width: 35px;
                            height: 35px;
                            border-radius: 5px;
                            line-height: 38px;
                            background-color: #f1f1f1;
                            text-align: center;
                            font-size: 20px;

                            &:hover {
                                background-color: var(--mainColor);
                                color: var(--whiteColor);
                            }
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .listings-details-image {
        img {
            object-fit: cover;
            min-height: 150px;
        }
        .container {
            max-width: 100% !important;
            padding: {
                left: 0;
                right: 0;
            };
            .container {
                position: relative;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #000000;
                padding: 20px 15px;
                border-top: 1px solid #211f1f;
            }
        }
        .container-fluid {
            padding: {
                left: 15px;
                right: 15px;
                top: 10px;
            };
            .share-save {
                li {
                    .share, a {
                        font-size: 12px;
                        padding: 5px 12px 5px 30px;
                    }
                }
            }
        }
        .listings-details-content {
            max-width: 540px;
            padding-bottom: 0;
            margin: {
                left: auto;
                right: auto;
            };
            h3 {
                font-size: 20px;
            }
            .meta {
                font-size: 13px;
            }
            ul {
                display: block !important;
                margin-top: 0;

                li {
                    display: block;
                    margin: {
                        right: 0;
                        top: 20px;
                    };
                    &.phone-number {
                        a {
                            font-size: 15px;
                            padding: {
                                left: 50px;
                                right: 15px;
                                top: 12px;
                                bottom: 11px;
                            };
                            i {
                                left: 20px;
                                margin-top: 0;
                                font-size: 20px;
                            }
                        }
                    }
                    &.time {
                        padding-left: 52px;

                        span {
                            font-size: 15px;
                        }
                        i {
                            font-size: 45px;
                        }
                    }
                    &.location {
                        padding-left: 52px;

                        span {
                            font-size: 15px;
                        }
                        i {
                            font-size: 45px;
                        }
                    }
                }
            }
        }
    }
    .listings-details-nav {
        padding: 15px 0 0;

        .nav-tabs {
            .nav-item {
                .nav-link {
                    padding: 0;
                    font-size: 14px;
                    margin: {
                        bottom: 15px;
                        right: 15px;
                    };
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    .listings-details-desc {
        margin-top: 30px;

        h3 {
            font-size: 18px;
        }
        .amenities-list {
            li {
                flex: 0 0 100%;
                max-width: 100%;

                span {
                    font-size: 13px;
                    padding-left: 34px;

                    i {
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        font-size: 20px;
                        top: -3px;
                    }
                }
            }
        }
        .pricing-list {
            li {
                font-size: 14px;
                padding: {
                    left: 15px;
                    right: 15px;
                    top: 12px;
                    bottom: 12px;
                };
                span {
                    right: 15px;
                }
            }
        }
        .listings-review {
            padding: 15px;

            .rating {
                .bx {
                    font-size: 15px;
                }
                .overall-rating {
                    font-size: 15px;
                }
                .rating-count {
                    font-size: 15px;
                }
            }
            .side {
                font-size: 13px;
                width: 45%;
            }
            .middle {
                width: 44%;
            }
            .right {
                text-align: right;
                width: 11%;
            }
        }
        .write-a-review {
            padding: 15px;

            .default-btn {
                position: relative;
                top: 0;
                transform: unset;
                right: 0;
                margin: {
                    bottom: 5px;
                    top: 12px;
                };
            }
        }
        .listings-review-comments {
            .user-review {
                padding: 15px;

                .user {
                    .title {
                        h4 {
                            font-size: 15.5px;
                        }
                    }
                }
                .comments {
                    margin-top: 20px;

                    .rating {
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .review-form-wrapper {
            padding: 20px 15px;

            form {
                .sub-ratings {
                    h4 {
                        font-size: 14px;
                    }
                    
                    .cleanliness-rating, .accuracy-rating, .location-rating, .value-rating, .communication-rating, .checkin-rating {
                        max-width: 100px;
                        
                        label {
                            width: 20px;
                            height: 20px;
                            
                            &:before {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .listings-sidebar {
        margin: {
            top: 10px;
            bottom: 30px;
        };
        .listings-widget {
            padding: 20px;

            h3 {
                font-size: 17px;
                margin-bottom: 20px;
            }
        }
        .listings_author {
            .author {
                .title {
                    h4 {
                        font-size: 15.5px;
                    }
                }
                .author-profile {
                    .social {
                        text-align: left;
                        margin-top: 12px;
                    }
                }
            }
        }
    }

}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .listings-details-desc {
        .amenities-list {
            li {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
    .listings-details-image {
        .container-fluid {
            max-width: 540px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }

}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .listings-details-image {
        img {
            object-fit: cover;
            min-height: 300px;
        }
        .listings-details-content {
            padding-bottom: 20px;

            h3 {
                font-size: 30px;
            }
        }
        .container-fluid {
            max-width: 720px;
            padding: {
                top: 20px;
                left: 15px;
                right: 15px;
            };
        }
    }
    .listings-sidebar {
        margin-top: 10px;
    }

}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .listings-details-image {
        img {
            object-fit: cover;
            min-height: 300px;
        }
        .listings-details-content {
            padding-bottom: 20px;

            h3 {
                font-size: 30px;
            }
        }
        .container-fluid {
            max-width: 960px;
            padding: {
                top: 20px;
                left: 15px;
                right: 15px;
            };
        }
    }
    .listings-sidebar {
        .listings-widget {
            padding: 20px;
        }
        .listings_author {
            .author {
                .author-profile {
                    .view-profile {
                        font-size: 14px;
                    }
                    .social {
                        li {
                            margin-left: 0;

                            &:first-child {
                                margin-left: 0;
                            }
                            a {
                                width: 29px;
                                height: 29px;
                                line-height: 32px;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

}
/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {}
/* Min width 1550px */
@media only screen and (min-width: 1550px) {}