<app-navbar-style-one *ngIf="service.isAuthenticated==false"></app-navbar-style-one>
<app-dashboard-sidemenu *ngIf="service.isAuthenticated==true"></app-dashboard-sidemenu>

<!-- Start Listings Details Area -->
<div [ngClass]="service.isAuthenticated==true?'main-content d-flex flex-column':''">
    <app-dashboard-navbar *ngIf="service.isAuthenticated==true"></app-dashboard-navbar>
    <app-loading *ngIf="showSpinner"></app-loading>
    <section class="listings-details-area pb-70" *ngIf="!showSpinner">
        <div class="listings-details-image">
            <img src="assets/img/listings-details.jpg" alt="image">
            <div class="container">
                <div class="container">
                    <div class="listings-details-content">
                        <ul class="d-flex align-items-center">
                            <li class="location">
                                <i class='bx bx-map'></i>
                                <span>Ville depart</span>
                                {{trajet.villeD}}
                            </li>
                            <li class="location">
                                <i class='bx bx-map'></i>
                                <span>Ville arrivée</span>
                                {{trajet.villeA}}
                            </li>
                            <li class="time">
                                <i class='bx bx-time-five'></i>
                                <span>Date</span>
                                {{trajet.date | date:'dd/MM/YYYY'}} {{trajet.heure}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="listings-details-desc" *ngIf="!showItsYou">
                        <div *ngIf="trajet.highway">
                            <div>
                                <iframe class="map" width="100%" height="400" frameborder="0" scrolling="yes"
                                    marginheight="0" marginwidth="0"
                                    [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.google.com/maps/embed/v1/directions?key=AIzaSyDC4Qo-Gwicfmb2-LBk-jYdbTp5NnATEuY&origin='+trajet.villeD+'&destination='+trajet.villeA)"
                                    webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                        <div *ngIf="!trajet.highway">
                            <div>
                                <iframe class="map" width="100%" height="400" frameborder="0" scrolling="yes"
                                    marginheight="0" marginwidth="0"
                                    [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.google.com/maps/embed/v1/directions?key=AIzaSyDC4Qo-Gwicfmb2-LBk-jYdbTp5NnATEuY&origin='+trajet.villeD+'&destination='+trajet.villeA+'&avoid=highways')"
                                    webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                    <div class="listings-details-desc" *ngIf="showItsYou">
                        <div class="bookings-listings-box">
                            <h3>Demandes</h3>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Utilisateur</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of users;">
                                            <td class="name">
                                                <img src="assets/img/user1.jpg" alt="image" *ngIf="!user.photoProfile">
                                                <img src="{{service.host}}/download/{{user.photoProfile.id}}"
                                                    alt="image" *ngIf="user.photoProfile">
                                                <div class="info">
                                                    <span>{{user.nom}}</span>
                                                    <ul>
                                                        <li><a href="tel:{{user.tel}}">{{user.tel}}</a>
                                                        </li>
                                                        <li><a href="mailto:{{user.email}}">{{user.email}}</a>
                                                        </li>
                                                    </ul>
                                                    <a href="mailto:{{user.email}}" class="default-btn"><i
                                                            class='bx bx-envelope'></i> Envoyer Email</a>
                                                </div>
                                            </td>

                                            <td class="action" *ngIf="!user.showApproved&&!user.showDenied">
                                                <a (click)="modifyRequest(user.id,1)" class="default-btn"><i
                                                        class='bx bx-check-circle'></i>
                                                    Accepter</a>
                                                <a (click)="modifyRequest(user.id,0)" class="default-btn danger"><i
                                                        class='bx bx-x-circle'></i>
                                                    Rejeter</a>
                                            </td>
                                            <td class="action" *ngIf="user.showApproved&&!user.showDenied">
                                                <a class="default-btn"><i class='bx bx-check-circle'></i>
                                                    Demande Acceptée</a>
                                            </td>
                                            <td class="action" *ngIf="!user.showApproved&&user.showDenied">
                                                <a class="default-btn danger"><i class='bx bx-check-circle'></i>
                                                    Demande Rejetée</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div *ngIf="service.isAuthenticated==false" class="alert alert-danger">Veuillez se connecter pour
                        pouvoir participer dans ce trajet</div>
                    <div class="listings-sidebar">
                        <div class="listings-widget listings_author" *ngIf="!showItsYou">
                            <h3>Hosted By</h3>
                            <div class="author">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/user1.jpg" alt="image" *ngIf="!trajet.car.owner.photoProfile">
                                    <img src="{{service.host}}/download/{{trajet.car.owner.photoProfile.id}}"
                                        alt="image" *ngIf="trajet.car.owner.photoProfile">
                                    <div class="title">
                                        <h4><a
                                                [routerLink]="['/user-profile',trajet.car.owner.id]">{{trajet.car.owner.nom}}</a>
                                        </h4>
                                        <span>Membre depuis : {{trajet.car.owner.dateCmpt | date:'MM/YYYY'}}</span>
                                    </div>
                                </div>
                                <div class="author-profile">
                                    <div class="row align-items-center">
                                        <div class="col-lg-5 col-md-5">
                                            <a [routerLink]="['/user-profile',trajet.car.owner.id]"
                                                class="view-profile">Voir Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="listings-widget listings_author" *ngIf="!showItsYou">
                            <h3>Voiture</h3>
                            <div class="author">
                                <div class="d-flex align-items-center">
                                    <div class="title">
                                        <h4 *ngIf="showAlreadyIn">Matricule : {{trajet.car.mat}}</h4>
                                        <h4>Année : {{trajet.car.annee}}</h4>
                                        <h4>Modéle : {{trajet.car.cat}}</h4>
                                        <h4>Colour : <input type="color" value="{{trajet.car.color}}" readonly /> </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="listings-sidebar" *ngIf="showItsYou">
                            <div *ngIf="trajet.highway">
                                <div>
                                    <iframe class="map" width="100%" height="400" frameborder="0" scrolling="yes"
                                        marginheight="0" marginwidth="0"
                                        [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.google.com/maps/embed/v1/directions?key=AIzaSyDC4Qo-Gwicfmb2-LBk-jYdbTp5NnATEuY&origin='+trajet.villeD+'&destination='+trajet.villeA)"
                                        webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <div *ngIf="!trajet.highway">
                                <div>
                                    <iframe class="map" width="100%" height="400" frameborder="0" scrolling="yes"
                                        marginheight="0" marginwidth="0"
                                        [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.google.com/maps/embed/v1/directions?key=AIzaSyDC4Qo-Gwicfmb2-LBk-jYdbTp5NnATEuY&origin='+trajet.villeD+'&destination='+trajet.villeA+'&avoid=highways')"
                                        webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                        <div class="listings-widget book_listings" *ngIf="showParticipate||showAlreadyIn">
                            <a class="default-btn" *ngIf="showParticipate" (click)="assisteRequest()">Envoyer
                                demande</a>
                            <a class="default-btn" aria-disabled="true" *ngIf="showAlreadyIn">{{state}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Listings Details Area -->

    <app-footer-style-two></app-footer-style-two>
</div>