<app-dashboard-sidemenu></app-dashboard-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

    <app-dashboard-navbar></app-dashboard-navbar>


    <!-- Start -->
    <app-loading *ngIf="showSpinner"></app-loading>
    <section class="listing-area" *ngIf="!showSpinner">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6"
                *ngFor="let trajet of trajets | paginate: { itemsPerPage: 6, currentPage: gridListings }">
                <div class="single-listings-box">
                    <div class="listings-content">
                        <h3><a [routerLink]="['/trajet',trajet.id]" routerLinkActive="router-link-active"><i
                                    class="flaticon-pin" style="color:#0ec6c6; font-size: 17px;"></i>{{trajet.villeD}}
                                <i class="flaticon-right-arrow s2" style="color:#0ec6c6;"></i><i class="flaticon-pin"
                                    style="color:#0ec6c6;font-size: 17px;"></i>{{trajet.villeA}}</a></h3>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="price">
                                {{trajet.date}}
                            </div>
                            <div>
                                <span class="status Open Now">
                                    <i class="flaticon-clock" style="font-size: 17px;"></i>
                                    {{trajet.heure}}</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <!-- <i class='{{Star.icon}}' *ngFor="let Star of Content.rating;"></i> -->
                                <span class="count"><i class='bx bx-group'></i> {{trajet.nbrePlace}} Places</span>
                            </div>
                            <div class="price">
                                <i class='bx bx-purchase-tag'></i>Prix : {{trajet.prix}} MAD
                            </div>
                        </div>
                    </div>
                    <div class="listings-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <a (click)="getTrajet(trajet.id)" data-bs-toggle="modal"
                                data-bs-target="#editTrajet" class="default-btn"
                                onclick="$('#editTrajet').appendTo('body').modal('show');">Modifier</a>
                            <a data-bs-toggle="modal" (click)="passId(trajet.id)" data-bs-target="#deleteModal"
                                class="default-btn"
                                onclick="$('#deleteModal').appendTo('body').modal('show');">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="pagination-area text-center">
                    <pagination-controls (pageChange)="gridListings = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </section>
    <!-- End -->

    <div class="flex-grow-1"></div>

    <app-footer-style-two></app-footer-style-two>

</div>
<!-- End Main Content Wrapper Area -->

<!-- Start Modification Modal -->

<div class="modal fade loginRegisterModal" id="editTrajet" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <app-loading *ngIf="showModalSpinner"></app-loading>
            <div *ngIf="!showModalSpinner" class="tab-content" id="myTabContent" style="margin-top: 5px;">
                <div class="alert alert-danger" *ngIf="showError">{{errorText}}</div>
                <div class="alert alert-success" *ngIf="showSuccess">Bien Modifié</div>
                <div class="tab-pane fade show active" id="login" role="tabpanel">
                    <button type="button" id="close" data-bs-dismiss="modal" aria-label="Close" class="close"><i
                            class='bx bx-x'></i></button>
                    <div class="vesax-login">
                        <form #f="ngForm" ngNativeValidate (ngSubmit)="onSearch(f.value)">
                            <div class="form-group">
                                <label>Ville Depart :</label>
                                <input type="text" class="form-control" [(ngModel)]="trajet.villeD" name="villeD"
                                    readonly>
                            </div>
                            <div *ngIf="trajet.villeD!=''">
                                <div class="form-group">
                                    <label>Ville Arrive :</label>
                                    <input type="text" class="form-control" [(ngModel)]="trajet.villeA" name="villeA"
                                        readonly>
                                </div>
                                <div *ngIf="trajet.villeA!=''">
                                    <div class="form-group">
                                        <label>Date :</label>
                                        <input type="date" class="form-control" [(ngModel)]="trajet.date" name="date"
                                            readonly>
                                    </div>
                                    <div *ngIf="trajet.date!=''">
                                        <div class="form-group">
                                            <label>Heure : </label>
                                            <input type="time" class="form-control" [(ngModel)]="trajet.heure"
                                                name="heure" required>
                                        </div>
                                        <div *ngIf="trajet.heure!=''">
                                            <div class="form-group">
                                                <label>Voiture : </label>
                                                <ngx-select-dropdown tabindex="0" [multiple]="false"
                                                    (change)="selectionChanged3($event)" [(ngModel)]="trajet.car"
                                                    name="car" [config]="config" [options]="cars">
                                                </ngx-select-dropdown>
                                            </div>
                                            <div *ngIf="trajet.car">
                                                <div class="form-group">
                                                    <label>Places : </label>
                                                    <input id="nbrePlace" type="number" min="1" class="form-control"
                                                        [(ngModel)]="trajet.nbrePlace" name="nbrePlace" required
                                                        (change)="getDistance()" *ngIf="trajet.car&&!hasAssistes">
                                                    <input id="nbrePlace" type="number" min="1" class="form-control"
                                                        [(ngModel)]="trajet.nbrePlace" name="nbrePlace" readonly
                                                        *ngIf="trajet.car&&hasAssistes">
                                                </div>
                                                <div *ngIf="trajet.nbrePlace!=''||trajet.nbrePlace!='0'">
                                                    <div class="form-group">
                                                        <label>Prix par place : </label>
                                                        <input id="prix" type="number" class="form-control"
                                                            [(ngModel)]="trajet.prix" name="prix" min="0" required>
                                                    </div>
                                                    <div *ngIf="trajet.prix!=''||trajet.prix!='-1'">
                                                        <div class="add-listings-box">
                                                            <div class="form-group">
                                                                <div class="sidebar-widgets">
                                                                    <div class="box">
                                                                        <span class="title">Allez-vous emprunter
                                                                            l'autoroute ?</span>
                                                                        <label class="switch">
                                                                            <input type="checkbox"
                                                                                [(ngModel)]="trajet.highway"
                                                                                name="highway">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-success">Confirmer
                                                            Trajet</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- End Modification Modal -->

<!-- Strat Sup Modal -->
<div class="modal fade loginRegisterModal" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="tab-content" id="myTabContent" style="margin-top: 5px;">
                <div class="tab-pane fade show active" id="login" role="tabpanel">
                    <button type="button" id="close" data-bs-dismiss="modal" aria-label="Close" class="close"><i
                            class='bx bx-x'></i></button>
                    <div class="vesax-login">
                        <h3>Voullez vous supprimer ce trajet ?</h3>
                        <div class="row justify-content-end">
                            <div class="col-4">
                                <button class="btn btn-danger" data-bs-dismiss="modal"
                                    aria-label="Close">Annuler</button>
                            </div>
                            <div class="col-7">
                                <button class="btn btn-success" (click)="deleteTrajet()">Confirmer la
                                    suppression</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>